/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

tei-head {
  color: black;
  text-align: center;
  border: 1px solid blue;
  }


  tei-dateline {
    color: black;

    font-weight: bold
    }

    tei-p {
      color: green;
      text-align: center;
            }

    tei-hi {
      font-style: italic;

              }
tei-hi[rend="superscript"]{
  vertical-align: super;
color: grey;
}

tei-postscript tei-p {
  font-style: normal;
color: black;

          }
